/* ---------------------------------
# CSS Reset
----------------------------------------------- */

html {
    color: #000000;
    background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea ,select {
    *font-size: 100%;
}
*:focus {
    outline: none;
}

/* ---------------------------------
# General
----------------------------------------------- */

@font-face {
    font-family: Equipment;
    src: url("EquipmentPro.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: Equipment;
    word-spacing: -1px;
    font-size: 30px;
    background-color: #111111;
    color: #FFFFFF;
    background: url('assets/backgrounds/bg.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 1px  1px 0 #000,
                -1px  1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000,
                 0px  1px 0 #000,
                 0px -1px 0 #000,
                -1px  0px 0 #000,
                 1px  0px 0 #000;
}

canvas {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
canvas.dragging {
    cursor: grab;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: #000; }
::-webkit-scrollbar-thumb { background-color: #555; }
::-webkit-scrollbar-thumb:hover { background-color: #656565; }

/* ---------------------------------
# Gameplay Canvas
----------------------------------------------- */

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------
# Development Tools
----------------------------------------------- */

#development-tools {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px 25px 20px 25px;
    height: calc(100vh - 30px);
    background-color: #252525;
    overflow: auto;
    font-size: 24px;
}

.header {
    font-size: 24px;
    color: #dccb95;
    margin-bottom: 10px;
    position: relative;
}

#development-tools section {
    margin-top: 20px;
}

/* ----------------
// Engine
------------------- */

#engine button {
    border: 1px solid rgba(255,255,255,0.3);
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    opacity: 0.6;
    cursor: not-allowed;
    font-size: 24px;
    font-family: 'Equipment';
}

#engine button#start {
    padding-left: 15px;
    position: relative;
    left: -4px;
}

#engine button#start:before {
    content: '⚙️';
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#engine.running button#start:before {
    animation: rotation 4s infinite linear;
}
#engine button.green { background-color: rgb(34, 133, 55); }
#engine button.red   { background-color: rgb(146, 56, 56); }

#engine button#start.green, #engine button#stop.red {
    cursor: pointer;
    opacity: 1;
}

#engine #fps {
    padding: 11px 0 11px 20px;
}

/* ----------------
// Camera
------------------- */

#camera {
    margin-top: 20px;
}

#camera > .checkbox, #camera > .checkbox label, #camera > .checkbox input {
    cursor: pointer;
}

#camera > .checkbox {
    margin-bottom: 10px;
    margin-left: 3px;
}

#camera > .checkbox label {
    padding-left: 10px;
}

/* ----------------
// Scenarios
------------------- */

#state, #team-preset {
    opacity: 0.4;
}

#state > .pseudo-select, #team-preset > .pseudo-select {
    cursor: default;
}

.pseudo-select {
    width: calc(100% - 40px);
    position: relative;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px 20px;
    cursor: pointer;
}

.pseudo-select:after {
    content: '▼';
    display: block;
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 12px;
}

.pseudo-select.show:after {
    content: '▲';
}

.pseudo-select-options {
    display: none;
    position: absolute;
    z-index: 10;
    opacity: .99;
    top: 50px;
    left: -1px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: #252525;
    cursor: pointer;
}

.pseudo-select-options > div {
    padding: 10px 20px;
    position: relative;
}

.pseudo-select-options > div:hover {
    background-color: rgba(255,255,255,0.2);
}

.pseudo-select-options > div.selected {
    cursor: default;
    opacity: 0.4;
}

.pseudo-select-options > div.selected:hover {
    background-color: rgba(255,255,255,0.2);
}

.pseudo-select-options > div.selected:after {
    content: '< Selected >';
    display: inline-block;
    position: absolute;
    right: 20px;
}

.pseudo-select.show .pseudo-select-options {
    display: block;
}